.content {
    max-width: 1000px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: paged-y;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 25px;
    grid-gap: 30px;
    align-items: stretch;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 2px;
    transition: transform 0.8s;
    position: relative;
}

.item:hover img {
    transform: scale(1.2);

}

.item {
    overflow: hidden;
    position: relative;
}
